<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「本アプリ」帯部分 %>
  <div class="first-view">
        <%= link_to image_tag("reading-925589_1920.jpg", class:"top-image") %>
  </div>
  <%# /画面上部の「本アプリ」帯部分  %>

  <%# カテゴリー一覧 %>
  <div class="upper-content">
    <h2 class="heading-name">カテゴリー</h2>
          <ul class="messages">
            <li class="message">
              <%= link_to '小説・文学', "categories_path", class:"message" %>
            </li>
            <li class="message">
               <%= link_to '言語', "/", class:"message" %>
            </li>
            <li class="message">
              <%= link_to '自己啓発', "/", class:"message" %>
            </li>
            <li class="message">
              <%= link_to 'ビジネス・経済', "/", class:"message" %>
            </li>
            <li class="message">
              <%= link_to '自然科学', "/", class:"message" %>
            </li>
            <li class="message">
              <%= link_to 'テクノロジー', "/", class:"message" %>
            </li>
            <li class="message">
              <%= link_to '歴史・地理', "/", class:"message" %>
            </li>
            <li class="message">
              <%= link_to '専門書', "/", class:"message" %>
            </li>
          </ul>
  </div>
  <%# /カテゴリー一覧 %>

  <%# 投稿遷移%>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>投稿する</span>
    <a href="books/new">
      <%= image_tag 'baseline_menu_book_black_18dp.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    </a>
  </div>
  <%# /投稿遷移%>
</div>

<%= render "shared/footer" %>