<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「本アプリ」帯部分 %>
  <div class="first-view">
        <%= link_to image_tag("reading-925589_1920.jpg", class:"top-image") %>
  </div>
  <%# /画面上部の「本アプリ」帯部分  %>

  <%# カテゴリー一覧 %>
  <div class="upper-content">
    <h2 class="heading-name">カテゴリー</h2>
          <ul class="messages">
            <li class="message">
              小説・文学
            </li>
            <li class="message">
               言語
            </li>
            <li class="message">
              自己啓発
            </li>
            <li class="message">
              ビジネス・経済
            </li>
            <li class="message">
              自然科学
            </li>
            <li class="message">
              テクノロジー
            </li>
            <li class="message">
              歴史・地理
            </li>
            <li class="message">
              専門書
            </li>
          </ul>
  </div>
  <%# /カテゴリー一覧 %>

  <%# 本一覧 %>
  <div class='item-contents'>
    <h2 class='heading-name'>ピックアップカテゴリー</h2>
    <% @books.each do |book| %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to book_path(book) do %>
        <div class='item-img-content'>
          <%= image_tag book.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= book.book_name %>
          </h3>
          <div class='item-price'>
            <span><%= book.price %>円<br>(税込み)</span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    </ul>
  </div>
  <%# /本一覧 %>

  <%# 投稿遷移%>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>投稿する</span>
    <a href="books/new">
      <%= image_tag 'baseline_menu_book_black_18dp.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    </a>
  </div>
  <%# /投稿遷移%>
</div>

<%= render "shared/footer" %>