<%= render "shared/header" %>

<%# 本の概要 %>
<div class="book-show">
  <div class="book-box">
    <h2 class="name">
      <%= @book.book_name %>
    </h2>
    <div class='book-img-content'>
      <%= image_tag @book.image ,class:"book-box-img" %>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理 %>
    <%if user_signed_in? && current_user.id == @book.user.id %> 
    <%= link_to '本の編集', edit_book_path, method: :get, class: "book-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', book_path, method: :delete, class:'book-destroy' %>
    <% end %>
    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理 %>

    <div class="book-explain-box">
      <span><%= @book.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-book">投稿者</th>
          <td class="detail-value"><%= @book.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-book">カテゴリー</th>
          <td class="detail-value"><%= @book.category.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /本の概要 %>

  <%# コメント覧%>
  <div class="comment-box">
    <% if current_user %>
        <%= form_with(model: [@book, @comment], local: true) do |form| %>
          <textarea class="comment-text"></textarea>
          <p class="comment-warn">
            相手のことを考え丁寧なコメントを心がけましょう。
            <br>
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </p>
          <button type="submit" class="comment-btn">
            <span>コメントする<span>
          </button>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
        </strong>
    <% end %>
  </div>
  
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= @comment.text %>
          </p>
        <% end %>
      <% end %>
  </div>
  <%# /コメント覧%>

<%= render "shared/footer" %>
